<div fxLayout="row" fxLayoutAlign="space-around center" class="login-component-wrap">
	<div fxFlex="50%" class="desc">
		<div class="logo">habit trakcer</div>
		<div>Unlock your potential one habit at a time</div>
	</div>
	<div fxFlex="35%" class="login" fxLayout="column" fxLayoutAlign="start center" >
		<div class="heading">{{current == 'login'? 'Login': 'Sign Up'}}</div>
		<div>
			<input type="text" placeholder="username" [(ngModel)]="username">
		</div>
		<div>
			<input type="password" placeholder="password" [(ngModel)]="password">
		</div>
		<div *ngIf="current == 'login'">
			<!-- //todo -->
		</div>
		<div *ngIf="current == 'sign-up'">
			<!-- //todo -->
		</div>
	</div>
</div>